name = "nano-back-cloudfare"
main = "src/index.ts"
compatibility_date = "2024-11-27"

# Required for mysql2 and other Node.js compatibility
compatibility_flags = ["nodejs_compat"]

# Hyperdrive 绑定配置（连接 MySQL 数据库）
[[hyperdrive]]
binding = "HYPERDRIVE"
id = "xxxxxxxxxxxxxxxxxxxxxxxxxx" # your hyperdrive id

# 开发环境配置
[dev]
port = 8788

# 环境变量（使用 wrangler secret 设置敏感数据）
# wrangler secret put JWT_SECRET
# wrangler secret put ENCRYPTION_KEY
# wrangler secret put JINA_API_KEY
# wrangler secret put QDRANT_API_KEY

# 非敏感环境变量可以直接配置
[vars]

# Qdrant 向量数据库配置
QDRANT_URL = "https://xxxxxxxxx.org"

# 默认的 DeepSeek API 配置
DEEPSEEK_API_URL = "https://api.deepseek.com/v1/chat/completions"

# jina ai 配置 - jian配置见 各个相关的service中
# JINA_API_KEY = ""

# minio 配置
MINIO_ENDPOINT = "xxxxxxxxxxxxxxxxxxx"
MINIO_PORT = "443"
MINIO_USE_SSL = "true"
MINIO_ACCESS_KEY = "xxxxxxx"
MINIO_SECRET_KEY = "xxxxxxxxxxx"
MINIO_BUCKET = "nano-studio"



# 日志平台配置 链路追踪等
[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1